.value-prop-section {
  color: white;
}
.value-prop-title {
  text-align: left;
  font-size: 40px;
  margin: auto;
  width: 90%;
}
.value-prop-to-life {
  text-align: left;
  font-size: 24px;
  margin: 10px auto 0 auto;
  width: 90%;
}
.value-prop-description {
  text-align: left;
  font-size: 24px;
  margin: 30px auto;
  width: 85%;
}

.value-prop-1 {
  background-color: #663162;
  padding-top: 80px;
}
.transition-1 {
  background: linear-gradient(#663162, #513269);
}
.transition-frame {
  height: 200px;
}

.value-prop-2 {
  background-color: #513269;
}
.transition-2 {
  background: linear-gradient(#513269, #2A2257);
}

.value-prop-3 {
  background-color: #2A2257;
  padding-bottom: 80px;
}

@media screen and (max-width: 900px) {
  .transition-frame {
    height: 120px;
  }
}

@media screen and (max-width: 600px) {
  .value-prop-title {
    font-size: 34px;
    width: 90%;
  }
  .value-prop-description {
    font-size: 20px;
    width: 90%;
  }
  .transition-frame {
    height: 80px;
  }
}
