.character-container {
  overflow: hidden;
}
.character-evolution-container {
  min-height: 10vh;
  position: relative;
}

.CastPages {
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: "100%";
  background-color: #000000;
}

.character-evolution-description {
  font-size: 24px;
  color: white;
  width: 90%;
  margin: 30px auto 0 auto;
  left: 0;
  right: 0;
  text-align: left;
  position: relative;
  padding-bottom: 20px;
}

.description-iu-pages {
  font-size: 18px;
  color: white;
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  text-align: left;
  position: relative;
}

.CastPages {
  background-color: #000000;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  font-size: calc(90px + 2vmin);
  color: white;
}

.character-evolution-title {
  font-size: 40px;
  color: white;
  width: 90%;
  left: 0;
  right: 0;
  text-align: left;
  position: relative;
  margin-bottom: -5px;
  padding-top: 50px;
}

.videos {
  padding: 40px;
}

.cast-images-container {
  margin: 30px auto;
}
.cast-images {
  height: 220px;
  width: 220px;
  padding: 0 40px;
}
.cast-images > img {
  height: inherit;
  width: inherit;
}

.cast-pages-character-container {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
  margin: auto;
}

.cast-pages-character-container > div {
  width: 95%;
  max-width: 1500px;
  margin: auto;
}

.cast-pages-character-text-container {
  display: inline-block;
  width: 40%;
  margin: auto;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
}

.cast-pages-character-character-name {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -5px;
}

.cast-pages-character-text {
  font-size: 18px;
}

.cast-videos-container {
  display: inline-block;
  padding-left: 2%;
  width: 55%;
}

.cast-videos-container > video {
  display: inline-block;
  width: calc(96% / 3);
}
.cast-videos-container > video:nth-child(2) {
  padding: 0 2%;
}

@media screen and (max-width: 1400px) {
  .cast-pages-character-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .cast-pages-character-container > div {
    width: 100%;
  }
  .cast-pages-character-text-container {
    display: block;
    width: 90%;
    margin-bottom: 30px;
  }
  .cast-videos-container {
    display: block;
    width: 90%;
    margin: auto;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .cast-pages-character-character-name {
    font-size: 34px;
  }
  .character-evolution-title {
    font-size: 34px;
    width: 90%;
  }
  .character-evolution-description {
    font-size: 20px;
    width: 90%;
  }
  .description-iu-pages {
    font-size: 14px;
    width: 90%;
  }
  .cast-pages-character-text-container {
    width: 90%;
  }
  .cast-videos-container {
    width: 90%;
  }
}
