.character-evolution-container {
  min-height: 10vh;
  position: relative;
}

.CastPages {
  min-height: 10vh;
  padding: "100%";
}

.character-evolution-description {
  font-size: 24px;
  color: white;
  width: 85%;
  margin: auto;
  left: 0;
  right:0;
  text-align: left;
  position: relative;
 padding-bottom: 20px;
}

.description-iu-pages {
  font-size: 18px;
  color: white;
  width: 85%;
  margin: auto;
  left: 0;
  right:0;
  text-align: left;
  position: relative;
}

.CastPages {
  background-color: #000000;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  font-size: calc(90px + 2vmin);
  color: white;
}

.character-evolution-title {
  font-size: 40px;
  color: white;
  width: 85%;
  left: 0;
  right:0;
  text-align: left;
  position: relative;
  margin-bottom: -5px;
}

.videos {
  padding: 40px;
}

@media screen and (max-width: 600px) {
  .character-evolution-title {
    font-size: 34px;
  }
  .character-evolution-description {
    font-size: 20px;
  }
  .description-iu-pages {
    font-size: 14px;
  }
}
