.credits {
  background-color: black;
  color: white;
}

.credits-text {
  width: 300px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .credits-text {
    width: 250px;
    font-size: 14px;
  }
}
