.episode-guide {
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.background-img {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.episode-guide-title {
  position: absolute;
  font-size: 40px;
  top: 20px;
  left: 20px;
  text-align: left;
  margin: auto;
  z-index: 2;
}

.episode-guide-description {
  font-size: 24px;
  position: absolute;
  top: 14%;
  left: 42%;
  text-align: left;
  margin: auto;
  width: 480px;
  z-index: 2;
}

.spotlight-img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.spotlight-inactive {
  display: none;
}

@media screen and (max-width: 1400px) {
  .episode-guide-description {
    font-size: 22px;
    width: 440px;
  }
}
@media screen and (max-width: 1270px) {
  .episode-guide-description {
    font-size: 20px;
    width: 400px;
  }
  .episode-guide-title {
    font-size: 34px;
    top: 10px;
    left: 10px;
  }
}

@media screen and (max-width: 900px) {
  .episode-guide-title {
    font-size: 30px;
  }
  .episode-guide-description {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .episode-guide {
    height: 70vh;
  }
  .episode-guide-description {
    width: 320px;
  }
}
