.faqs-container {
  background-color: black;
  color: white;
  margin: 30px auto;
  width: 90%;
}

.faqs-header {
  text-align: left;
  font-size: 40px;
}

.faqs-qa-container {
  text-align: left;
  margin: 30px auto;
}

.faqs-question {
  font-size: 24px;
}

.faqs-answer {
  font-size: 20px;
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .faqs-container {
    width: 90%;
  }
  .faqs-header {
    font-size: 34px;
  }
  .faqs-question {
    font-size: 20px;
  }
  .faqs-answer {
    font-size: 18px;
  }
}
