.Header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  position: relative;
  height: calc(145vh);
  max-height: 1580px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url('https://ik.imagekit.io/5ierklngtbt/LandingPage_BG_v02_yZqUo0i2t.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658162945561');
}

.landing-background-img {
  position: relative;
  height: calc(100vh + 200px);
  width: 100%;
  object-fit: cover;
}

.landing-logo {
  position: absolute;
  right: 50px;
  top: 450px;
  width: 500px;
}

.landing-bottom-text {
  position: absolute;
  text-align: left;
  font-size: 24px;
  bottom: 10px;
  width: 85%;
  color: white;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .landing-logo {
    right: 0;
    left: 0;
    margin: auto;
    width: 400px;
  }
  .landing-bottom-text {
    font-size: 20px;
    bottom: 40;
  }
}
