.Header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  position: relative;
  height: calc(145vh);
  max-height: 1580px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url('https://ik.imagekit.io/5ierklngtbt/LandingPage_BG_1OodIFIqB.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658117484922');
}

.landing-background-img {
  position: relative;
  height: calc(100vh + 200px);
  width: 100%;
  object-fit: cover;
}

.landing-logo {
  position: absolute;
  right: 50px;
  top: 450px;
  width: 500px;
}

.landing-bottom-text {
  position: absolute;
  text-align: left;
  font-size: 26px;
  bottom: 10px;
  width: 90%;
  color: white;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .bottom-left {
    position: absolute;
    /* bottom: 80px; */
    left: 16px;
    font-size: 30px;
    margin-right: 800px;
    margin-left: 80px;
    margin-bottom: 350px;
    margin-top: 600px;
  }
}
