.Header {
  text-align: center;
  min-height: 10vh;
}

.rack {
    background-color: blue;
    min-height: 1800vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.App-header {
  background-color: #12284B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
}

.App-header2 {
  background-color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(90px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  /* bottom: 80px; */
  left: 16px;
  font-size: 30px;
  margin-right: 800px;
  margin-left: 80px;
  margin-bottom: 350px;
  margin-top: 600px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .bottom-left {
    position: absolute;
    /* bottom: 80px; */
    left: 16px;
    font-size: 30px;
    margin-right: 800px;
    margin-left: 80px;
    margin-bottom: 350px;
    margin-top: 600px;
  }
}
