.Nav-Bar {
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10000;
}

.Nav-Bar-Text {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.navbar-text-section {
  display: block;
}

.navbar-button {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
}

@media screen and (max-width: 980px) {
  .navbar-text-section {
    display: none;
  }
}
