.Nav-Bar {
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.Nav-Bar-Text {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.right {
  overflow: hidden;
  white-space: nowrap;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
  .topnav {
    overflow: hidden;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background: transparent;
  }



