.Nav-Bar {
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.Nav-Bar-Text {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.right {
  overflow: hidden;
  white-space: nowrap;
}


