.rarity-section {
  background-color: #08042b;
  color: white;
  padding-top: 80px;
}

.value-prop-section {
  background-color: #08042b;
  color: white;
  padding-top: 60px;
}

.rarity-title {
  font-size: 40px;
  color: white;
  text-align: left;
  position: relative;
  width: 80%;
  margin:auto;
}

.rarity-description {
  font-size: 24px;
  width: 80%;
  margin: auto;
  left: 0;
  right:0;
  text-align: left;
  vertical-align: text-top;
  position: relative;
  padding-top: 40px;
}
.value-prop-title {
  text-align: left;
  font-size: 40px;
  margin-right: 10%;
  margin-left: 10%;
}
.ValueProp-description {
  text-align: left;
  font-size: 24px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 2%;
}

.rarity-pics {
  margin-right: 50px;
}
.rarity-pics > img {
  width: 100%;
  max-height: 500px;
  height: auto;
}

.item1 {
  grid-row: 1 / span 2;
}

@media screen and (max-width: 900px) {
  .rarity-title {
    margin-left: 10%;
    margin-right: 10%;
  }
  .rarity-description {
    padding-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .rarity-title {
    font-size: 34px;
  }
  .value-prop-title {
    font-size: 34px;
  }
  .rarity-description {
    font-size: 20px;
    padding-top: 20px;
  }
  .ValueProp-description {
    font-size: 20px;
  }
}