.Roadmap-Main {
  text-align: center;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  min-height: 500px;
}

.Roadmap-Main2 {
  display: flex;
  min-height: 500px;
}

.videos {
  padding: 40px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* PHASE 1 POSITIONING */
.phase-one {
  margin-left: 400px;
  margin-top: 50px;
}
.phase-one-description {
  margin-left: 400px;
  margin-top: 105px;
}
/* PHASE 2 POSITIONING */
.phase-two {
  margin-left: 1000px;
  margin-top: 225px;
}
.phase-two-description {
  margin-left: 1000px;
  margin-top: 280px;
}
/* PHASE 3 POSITIONING */
.phase-three {
  margin-left: 500px;
  margin-top: 430px;
}
.phase-three-description {
  margin-left: 500px;
  margin-top: 485px;
}

.roadmap-title {
  font-size: 46px !important;
  font-weight: 700 !important;
  margin-right: 1300px;
  margin-left: 50px;
  margin-bottom: 550px;
  margin-top: 30px;
}
.roadmap-img {
  width: 100%;
}

/* Generic elements for title and description */
.phase-title {
  position: absolute;
  text-align: left;
  color: white;
  width: 400px;
  font-size: 34px;
  left: 16px;
  font-weight: 600;
}
.phase-description {
  position: absolute;
  text-align: left;
  color: white;
  width: 500px;
  font-size: 18px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* X-Large screen */
@media screen and (min-width: 1750px) {
  /* PHASE 1 POSITIONING */
  .phase-one {
    margin-left: 500px;
    margin-top: 150px;
  }
  .phase-one-description {
    margin-left: 500px;
    margin-top: 205px;
  }
  /* PHASE 2 POSITIONING */
  .phase-two {
    margin-left: 1300px;
    margin-top: 350px;
  }
  .phase-two-description {
    margin-left: 1300px;
    margin-top: 405px;
  }
  /* PHASE 3 POSITIONING */
  .phase-three {
    margin-left: 550px;
    margin-top: 570px;
  }
  .phase-three-description {
    margin-left: 550px;
    margin-top: 625px;
  }
}

/* Large screen */
@media screen and (min-width: 1600px) and (max-width: 1750px) {
  /* PHASE 1 POSITIONING */
  .phase-one {
    margin-left: 500px;
    margin-top: 100px;
  }
  .phase-one-description {
    margin-left: 500px;
    margin-top: 155px;
  }
  /* PHASE 2 POSITIONING */
  .phase-two {
    margin-left: 1100px;
    margin-top: 300px;
  }
  .phase-two-description {
    margin-left: 1100px;
    margin-top: 355px;
  }
  /* PHASE 3 POSITIONING */
  .phase-three {
    margin-left: 550px;
    margin-top: 475px;
  }
  .phase-three-description {
    margin-left: 550px;
    margin-top: 530px;
  }
}

/* Medium-large screen */
@media screen and (max-width: 1450px) {
  /* PHASE 1 POSITIONING */
  .phase-one {
    margin-left: 350px;
    margin-top: 50px;
  }
  .phase-one-description {
    margin-left: 350px;
    margin-top: 105px;
  }
  /* PHASE 2 POSITIONING */
  .phase-two {
    margin-left: 900px;
    margin-top: 225px;
  }
  .phase-two-description {
    margin-left: 900px;
    margin-top: 280px;
  }
  /* PHASE 3 POSITIONING */
  .phase-three {
    margin-left: 450px;
    margin-top: 430px;
  }
  .phase-three-description {
    margin-left: 450px;
    margin-top: 485px;
  }
}

/* Medium screen */
@media screen and (max-width: 1300px) {
  /* PHASE 1 POSITIONING */
  .phase-one {
    margin-left: 350px;
    margin-top: 50px;
  }
  .phase-one-description {
    margin-left: 350px;
    margin-top: 105px;
  }
  /* PHASE 2 POSITIONING */
  .phase-two {
    margin-left: 800px;
    margin-top: 225px;
  }
  .phase-two-description {
    margin-left: 800px;
    margin-top: 280px;
  }
  /* PHASE 3 POSITIONING */
  .phase-three {
    margin-left: 400px;
    margin-top: 430px;
  }
  .phase-three-description {
    margin-left: 400px;
    margin-top: 485px;
  }
}

/* Medium screen - start stacking phases on top of each other */
@media screen and (max-width: 1230px) {
  .roadmap-title {
    font-size: 34px !important;
  }
  /* Generic elements for title and description */
.phase-title {
  font-size: 28px;
}
.phase-description {
  font-size: 14px;
  width: 400px;
}
  /* PHASE 1 POSITIONING */
  .phase-one {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 80px;
  }
  .phase-one-description {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 115px;
  }
  /* PHASE 2 POSITIONING */
  .phase-two {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 210px;
  }
  .phase-two-description {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 245px;
  }
  /* PHASE 3 POSITIONING */
  .phase-three {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 370px;
  }
  .phase-three-description {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 405px;
  }
}

/* Medium screen 2 */
@media screen and (max-width: 900px) {
  .roadmap-title {
    font-size: 30px !important;
  }
  /* Generic elements for title and description */
.phase-title {
  font-size: 24px;
}
.phase-description {
  font-size: 12px;
}
  /* PHASE 1 POSITIONING */
  .phase-one {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 80px;
  }
  .phase-one-description {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 115px;
  }
  /* PHASE 2 POSITIONING */
  .phase-two {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 210px;
  }
  .phase-two-description {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 245px;
  }
  /* PHASE 3 POSITIONING */
  .phase-three {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 370px;
  }
  .phase-three-description {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 405px;
  }
}

/* Small screen */
@media screen and (max-width: 500px) {
  .phase-title {
    width: 300px;
  }
  .phase-description {
    width: 300px;
  }
}


/* Small screen */
@media screen and (max-width: 390px) {
  .Roadmap-Main2 {
    min-height: 550px;
  }
  .phase-title {
    width: 250px;
  }
  .phase-description {
    width: 250px;
  }
  /* PHASE 1 POSITIONING */
  .phase-one {
    margin-top: 80px;
  }
  .phase-one-description {
    margin-top: 115px;
  }
  /* PHASE 2 POSITIONING */
  .phase-two {
    margin-top: 230px;
  }
  .phase-two-description {
    margin-top: 265px;
  }
  /* PHASE 3 POSITIONING */
  .phase-three {
    margin-top: 420px;
  }
  .phase-three-description {
    margin-top: 455px;
  }
}