.roadmap-section {
  color: white;
  text-align: left;
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.roadmap-background-video {
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 1;
}
ul {
  list-style-type: "*";
}
.roadmap-title {
  position: absolute;
  z-index: 2;
  font-size: 40px;
  top: 20px;
  left: 20px;
  text-align: left;
  margin: auto;
}

/* Generic elements for title and description */
.roadmap-phase {
  z-index: 2;
  position: absolute;
  top: 0;
  margin: auto;
  width: 500px;
}
.phase-title {
  font-size: 30px;
}
.phase-description {
  font-size: 18px;
  margin-top: -20px;
  margin-left: -20px;
}
/* PHASE 1 POSITIONING */
.phase-one {
  top: 7%;
  left: 20%;
}
/* PHASE 2 POSITIONING */
.phase-two {
  top: 32%;
  right: 1%;
  width: 450px;
}
/* PHASE 3 POSITIONING */
.phase-three {
  top: 48%;
  left: 30%;
}

@media screen and (max-width: 600px) {
}
