.season-1-background {
  color: white;
  position: relative;
  max-height: 1580px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  background-image: url("https://ik.imagekit.io/5ierklngtbt/EpisodeGuide_PlayBG_Expanded_v02_YtFQbZ3Ew7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658170701953");
}

.season-1-title {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-left: 40px;
}

.season-1-img {
  height: 90vh;
}
.playlist-text {
  font-size: 24px;
  resize: both;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  height: 767px;
  width: 477px;
  background-position: center center;
  background-image: url("https://ik.imagekit.io/5ierklngtbt/EpisodeGuide_PlaylistBox_v02_j9Mwy0C_9.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658171524725");
}
.playlist-text > div {
  text-align: center;
  margin: auto;
}
.playlist-text > div > div {
  width: 310px;
  padding-top: 120px;
  margin: auto;
  text-align: left;
}
.playlist-title {
  margin: 20px auto 5px auto;
  font-weight: 700;
}
.playlist-number {
  font-weight: 500;
}
.playlist-number-active {
}
.playlist-digit {
  color: black;
  opacity: 0.9;
}
.playlist-number-inactive {
  opacity: 0.3;
}

.community-written {
  margin-left: 38px;
}

@media screen and (max-width: 1600px) {
  .playlist-text {
    font-size: 22px;
    width: 425px;
    height: 683.38px;
  }
  .playlist-text > div > div {
    width: 290px;
    padding-top: 95px;
  }
}

@media screen and (max-width: 900px) {
  .season-1-img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .season-1-title {
    font-size: 34px;
    margin-left: 10px;
  }
  .playlist-text {
    font-size: 18px;
    width: 350px;
    height: 562.79px;
  }
  .playlist-text > div > div {
    width: 250px;
    padding-top: 70px;
  }
  .community-written {
    margin-left: 35px;
  }
}
