.season-1-container {
  min-height: 10vh;
  max-width: 100%;
}

.season-1-background {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  height: calc(100vh);
  max-height: 1580px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url('https://ik.imagekit.io/5ierklngtbt/EpisodeGuide_PlayBG_Expanded_v02_YtFQbZ3Ew7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1658170701953');
}

.season-1-bg-img {
  width: 100%;
  position: relative;
  object-fit: cover;
}

.playlist-img {
  
}
.playlist-text {
    font-size: 24px;
    resize: both;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    height: 767px;
    width:100%;
    background-position: center center;
    background-image: url('https://ik.imagekit.io/5ierklngtbt/EpisodeGuide_PlaylistBox_v02_j9Mwy0C_9.png?ik-sdk-version=javascript-1.4.3&updatedAt=1658171524725');
}
.playlist-text > div {
  text-align: center;
  margin: auto;
}
.playlist-text > div > div {
  width: 310px;
  margin: 130px auto 0 auto;
  text-align: left;
}
.playlist-title {
  margin: 15px auto;
  font-weight: 700;
}
.playlist-number {
  font-weight: 500;
}
.playlist-number-active {
}
.playlist-digit {
  color: black;
  opacity: 0.9;
}
.playlist-number-inactive {
  opacity: 0.3;
}