.social-icons-container {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.social-icon {
  height: 50px;
  padding: 0 3px;
}

.social-icon > img {
  height: inherit;
  width: inherit;
}

@media screen and (max-width: 900px) {
  .social-icon {
    height: 40px;
    padding: 0 2px;
  }
}
@media screen and (max-width: 625px) {
  .social-icon {
    height: 30px;
  }
}
