@font-face {
  font-family: futura-medium;
  src: url("FUTURAMEDIUM.ttf");
}

body {
  margin: 0;
  font-weight: 500;
  font-family: futura-medium !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: futura-medium;
}

button {
  font-family: inherit;
}
